<%= link_to destroy_admin_session_path, method: :delete do %>
<span>ログアウト</span><% end %>

<%= link_to admin_session_path do %>
  <span>Login</span><% end %>


<% @recipes.each do |recipe| %>
<%= attachment_image_tag recipe, :image, :fill, 100, 100, class: "", size:'100x100'%>
<%= link_to recipe.title, recipe_path(recipe) %>
<% end %>

