<h1>MYレシピ一覧</h1>

<% if flash[:notice] %>
<div class = "flash">
  <%= flash[:notice] %>
</div>
<% end %>

<div>
	<%= link_to "新規登録", new_recipe_path %>
</div>

<% current_user.recipes.each do |recipe| %>
<%= attachment_image_tag recipe, :image, :fill, 100, 100, class: "", size:'100x100'%>
<%= link_to recipe.title, recipe_path(recipe) %>
<% end %>
