<!DOCTYPE html>
<html>
<head>
   <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
   <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
</head>

<body>
<div class="container">

  <div class="row">
    <div class ="col-md-12">
  	  <div class="text-center">
  	    <h1 class="title2">ずぼらめし</h1	>
  	  </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-md-12">
  	  <div class="text-center">
  	    <h2 class="body"><br>それは、究極を極めし飯のこと</h2>
  	  </div>
  	</div>
  </div>

  <div class="row">
    <div class ="col-md-12">
  	  <div class="text-center">
  	    <h2 class="body"><br>ここは、究極の飯を共有する場所</h2>
  	  </div>
  	</div>
  </div>

  <div class="row">
    <div class ="col-md-12">
  	  <div class="text-center">
  	    <h2 class="body"><br>自分だけのずぼら飯を見つけ出そう</h2>
  	  </div>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12 clearfix">
      <%= link_to rank_path do %>
      <div class="float-right test-box"><br><%= image_tag('usa.png') %></div>
      <% end %>
    </div>
  </div>

</div>

