// Place all the styles related to the users/Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.body { font-family: "M PLUS Rounded 1c";
          writing-mode: vertical-rl;
}

h1.title2 { font-family: "Nikukyu";
            font-size: 700%;
            writing-mode: vertical-rl;
}